# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Spellcheck'
      'command': 'typo:spellcheck'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'typo'
      'submenu': [
        {
          'label': 'Spellcheck'
          'command': 'typo:spellcheck'
        }
      ]
    ]
  }
]
